body {
  font-family: 'Roboto', sans-serif;
}

/*form.upload {
  width: 50%;
  margin: 25% auto;
}*/

.hero i { 
  display: block;
  text-align: center;
}

.heading {
  margin-top: 2.5em;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.btn-float-right { 
  float: right 
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #ffffff !important;
}

.loader {
  text-align: center;
  margin-top: 25%;
}

/*.color.primary {
  background-color: #f94263;
}

.color.secondary {
  background-color: #ff9966;
}

.color.secondary_text {
  color: #ff9966;
}*/